/* FOND GENERAL */
body {
  background: linear-gradient(135deg, #fefae0, #e0f7fa);
  font-family: Arial, sans-serif;
}

/* HEADER */
.header-image {
  background: url("https://images.unsplash.com/photo-1503095396549-807759245b35")
    center/cover no-repeat;
  height: 300px;
  position: relative;
}

/* FILTRE DOUX */
.header-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

/* TEXTE HEADER */
.header-image h1 {
  position: relative;
  z-index: 2;
  color: #523d47;
  font-weight: bold;
}

/* NAVBAR */
nav {
    margin-bottom: 20px; 
}

.navbar {
  background-color: #e72888 !important;
}

.navbar .nav-link {
  color: #333 !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #6a4c93 !important;
}

/* CARTES */
.card {
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

/* EFFET HOVER */
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* BOUTONS */
.btn-primary {
  background-color: #a2d2ff;
  border: none;
}

.btn-danger {
  background-color: #ffc8dd;
  border: none;
  color: #333;
}

.btn-success {
  background-color: #caffbf;
  border: none;
  color: #333;
}

/* FOOTER */
footer {
  background-color: #e72888;
  color: #333;
}
